LABEL arch
TEXT HELP
Boot Garchy OS Live desktop and graphical installer on BIOS/KVM.
High-Performance Arch Linux with Hyprland and Cephalon AI.
ENDTEXT
MENU LABEL Garchy OS Live & Installer (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot Garchy OS Live with speakup screen reader on BIOS.
ENDTEXT
MENU LABEL Garchy OS Live with Speech (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
